body {
    background-color: #faebcc;
}
.canvas-wrapper {
    width: 80px;
    height: 80px;
    display: none;
}
.canvas-crt-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas-screen{
    display: none;
}
